body {
    background-image: url('/imagens/banner.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    background: none;
    padding: 0;
    border-radius: 0; 
    box-shadow: none; 
    text-align: center;
    position: relative;
    right: -230px; 
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border: 2px solid #000000;
    border-radius: 25px; 
    outline: none;
    font-size: 1rem;
}

.form-group input:focus {
    border-color: #0d47a1;
    outline: none;
}


.login-button {
    width: 100%;
    padding: 10px;
    background: #4caf50; 
    color: white;
    border: none;
    border-radius: 25px; 
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 

    background: url('/imagens/fundo\ azul.png') no-repeat center center;
    background-size: cover; 
}




.links span {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #555; 
    font-weight: bold;
    font-size: 0.9rem;
}

.links span::before,
.links span::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc; 
    margin: 0 10px; 
}



.links {
    font-size: 0.9rem;
    color: #555;
    margin-top: 20px;
}

.links a {
    color: #0d47a1;
    text-decoration: none;
    font-weight: bold;
    
}

.links a:hover {
    text-decoration: underline;
}

.links a:last-child {
    display: inline-block; 
    padding: 10px 20px; 
    border: 2px solid #0d47a1; 
    border-radius: 25px; 
    color: #0d47a1; 
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease; 
}

.links a:last-child:hover {
    background-color: #0d47a1; 
    color: white; 
}

